---
import '../styles/global.css';
const { title } = Astro.props;
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Plataforma Robótica</title>
  </head>
  <body class="bg-slate-900 text-slate-300 min-h-screen selection:bg-blue-500 selection:text-white">
    <slot />
  </body>
</html>